.main-nav{
	position: fixed;
	float: left;
	margin-top: 130px;
	width: 15%;
	background-color: gray;
	height: 100%;
}

.main-nav-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-left: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.main-nav-item{
	padding: 20px 25px;
	color: white;
	border-left: 3px rgba(0,0,0,0) solid;
}

.main-nav-item:hover{
	cursor: pointer;
	background-color: lightgray;
}

.selected-nav-item{
	background-color: rgb(226,226,226);
	border-left: 3px darkgray solid;
	color: black;
}